@using BdeBInterfaceContracts.Models

@model IEnumerable<User>

@{
	ViewBag.Title = "Utilisateurs";
}

<div class="row">
	@Html.ActionLink(
		"Trier par date de création",
		"Index",
		"Users",
		new { orderBy = OrderBy.CreationDateDesc },
		new { @class = "btn" })
	@Html.ActionLink(
		"Trier par nom de famille",
		"Index",
		"Users",
		new { orderBy = OrderBy.Name },
		new { @class = "btn" })
</div>

<table class="table">
	<tr>
        <th>
            ID
        </th>
		<th>
			Prénom
		</th>
		<th>
			Nom
		</th>
	    <th>
	        Rôle
	    </th>
	    <th>
	        Création
	    </th>
	</tr>
	@foreach (var user in Model)
	{
		<tr>
            <td>
                @user.Id
            </td>
			<td>
				@user.FirstName
			</td>
			<td>
				@user.LastName
			</td>
		    <td>
		        @user.Role.Name
		    </td>
		    <td>
		        @user.Creation
		    </td>
		</tr>
	}
</table>