@using BdeBInterfaceContracts.Models

@model IEnumerable<Order>

@{
	ViewBag.Title = "Commandes";
}

<div class="row">
	@Html.ActionLink(
		"Trier par date de création",
		"Index",
		"Orders",
		new { orderBy = OrderBy.CreationDateDesc },
		new { @class = "btn" })
	@Html.ActionLink(
		"Trier par description",
		"Index",
		"Orders",
		new { orderBy = OrderBy.Name },
		new { @class = "btn" })
</div>

<table class="table">
    <tr>
        <th>
            Description
        </th>
        <th>
            Prix
        </th>
        <th>
            Prix payé
        </th>
        <th>
            Commandé par
        </th>
        <th>
            Création
        </th>
    </tr>
	@foreach (var order in Model)
	{
		<tr>
			<td>
				@order.Product.Description
			</td>
			<td>
				@string.Format("{0,2:f}$", order.Product.Price)
			</td>
			<td>
				@string.Format("{0,2:f}$", order.PricePaid)
			</td>
		    <td>
		        @(order.User?.FirstName ?? "Client non-membre")
		    </td>
		    <td>
		        @order.Creation
		    </td>
		</tr>
	}
</table>